<ion-header>
  <ion-toolbar>
    <ion-title>
      {{datosUsuario.email}}
    </ion-title>
  </ion-toolbar>
 
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col>
        <img class="fotoPerfil" src="https://th.bing.com/th/id/R.39eb0bbf2cc33ba02f53f8585004f820?rik=E0Gn4xMJk2ZerA&pid=ImgRaw&r=0" alt="">
      </ion-col>
      <ion-col>
        <div class="contenedorPerfil">
          1234
          Publicaciones
        </div>
      </ion-col>
      <ion-col>
        <div class="contenedorPerfil">
          5678
          Seguidores
        </div>
      </ion-col>
      <ion-col>
        <div class="contenedorPerfil">
          9101
          Seguidos
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text>
          <p><strong>*User name</strong></p>
          <p>Lorem ipsum dolor sit amet, 
            consectetur adipiscing elit. 
            Sed ligula est, luctus ac facilisis ut, 
            malesuada et diam. Integer sed gravida lectus.</p>
        </ion-text>
        
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button class="editarPerfil">Editar Perfil</ion-button>
      </ion-col>
    </ion-row>
    
    
      <ion-row>
        <ion-col size="6" *ngFor="let photo of photoService.photos; index as position">
          <ion-img [src]="photo.webviewPath" ></ion-img>
        </ion-col>
      </ion-row>
    
  </ion-grid>
</ion-content>