<ion-header>
  <ion-toolbar>
    <ion-title>
      {{datosUsuario.email}}
    </ion-title>
  </ion-toolbar>
 
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col>
        <ion-avatar>
          <ion-img class="fotoPerfil" [src]="(photoService.profile[0]?.webviewPath) ? photoService.profile[0]?.webviewPath : 'https://th.bing.com/th/id/OIP.OesLvyzDO6AvU_hYUAT4IAHaHa?rs=1&pid=ImgDetMain'" alt=""></ion-img>
        </ion-avatar>
      </ion-col>
      <ion-col>
        <div class="contenedorPerfil">
          1234
          Publicaciones
        </div>
      </ion-col>
      <ion-col>
        <div class="contenedorPerfil">
          5678
          Seguidores
        </div>
      </ion-col>
      <ion-col>
        <div class="contenedorPerfil">
          9101
          Seguidos
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text>
          <p><strong>{{datosUsuario.usuario}}</strong></p>
          <p>{{datosUsuario.descripcion}}</p>
        </ion-text>
        
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="medium" class="editarPerfil" (click)="Editar()">Editar Perfil</ion-button>
      </ion-col>
    </ion-row>
    
    
      <ion-row>
        <ion-col size="6" *ngFor="let photo of publish.publicaciones; index as position">
          <ion-img [src]="photo.foto" ></ion-img>
        </ion-col>
      </ion-row>
    
  </ion-grid>
</ion-content>