ion-content{
    font-family: 'Arial Narrow';
}

.ion-align-items-center{
    text-align: center;
}
.fotoPerfil{
    border-radius: 50%;
}
.editarPerfil{
    width: 100%;
    --background: #999999;
}
ion-header{
    box-shadow: none;
}