#container {
    // text-align: center;
  
    position: relative;
    // left: 0;
    // right: 0;
    // top: 50%;
    // transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  
  // ion-card {
  //   --background: #000;
  //   --color: #9efff0;
  //   width: 1500px;
  //   margin: 10%;
  //   padding: 10%;
  // }
  
  
  // ion-input {
    
  //   --color: rgb(25, 185, 25);
  //   --placeholder-color: rgb(25, 185, 25);
  // }

  // #login {
  //   position: absolute;
  //   top: 50%;
  //   left: 50%;
  //   transform: translate(-50%, -50%);
  // } 
  // ion-card{
  //   text-align: center;
  //   border-radius: 15px;
  // }
  // ion-card ion-card-header {
  //   text-align: start;
  //   margin-top: 2%;
  // }

  // ion-card{
  //   width: 40%;
  //   height: 50%;
  // }