ion-avatar{
    width: 40px; /* Ajusta el ancho según tus necesidades */
    height: 40px; /* Ajusta la altura según tus necesidades */
    margin: auto;
    display: block;
}

ion-card-content
    img{
        border-radius: 5px;
    }
.titulo{
    text-align: center;
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.Menu{
    text-align: center;
}

ion-card{
    margin: 3% 0% ;
}