<ion-content>
  <div>
    <ion-card>
      <ion-card-title>
        <img class="imgPerfil" src="https://th.bing.com/th/id/OIP.OesLvyzDO6AvU_hYUAT4IAHaHa?rs=1&pid=ImgDetMain" alt="">
        *User
        <ion-button fill="clear">
          <ion-icon name="ellipsis-horizontal"></ion-icon>
        </ion-button>
      </ion-card-title>
      <ion-card-content>
        <img src="https://th.bing.com/th/id/OIP.1756oB0Q3DwO-qQo8UvB8gHaE6?rs=1&pid=ImgDetMain" alt="">
        <ion-icon name="heart-outline"></ion-icon>
        <ion-icon name="chatbubble-outline"></ion-icon>
        <ion-icon name="paper-plane-outline"></ion-icon>
        <p>Lorem ipsum dolor sit amet, 
          consectetur adipiscing elit. Sed ligula est,
           luctus ac facilisis ut, malesuada et diam.</p>
      </ion-card-content>      
    </ion-card>
  </div>
</ion-content>