<ion-content>
  <div>
    <ion-card>
      <ion-card-title>
        <ion-grid>
          <ion-row class="ion-align-items-center">
            <ion-col size="2">
              <!-- Imagen de perfil de prueba -->
              <img class="imgPerfil" src="https://th.bing.com/th/id/OIP.OesLvyzDO6AvU_hYUAT4IAHaHa?rs=1&pid=ImgDetMain" alt="">
            </ion-col>
            <ion-col size="8">*User</ion-col>
            <ion-col size="2">
              <ion-button fill="clear">
                <ion-icon name="ellipsis-horizontal"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
        
      </ion-card-title>
      <ion-card-content>
        <!-- Imagen de prueba -->
        <img src="https://th.bing.com/th/id/OIP.1756oB0Q3DwO-qQo8UvB8gHaE6?rs=1&pid=ImgDetMain" alt="">
        <ion-grid >
          <ion-row>
            <ion-col size="2">
              <ion-button fill="clear">
                <ion-icon name="heart-outline"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size="2">
              <ion-button fill="clear">
                <ion-icon name="chatbubble-outline"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size=2>
              <ion-button fill="clear">
                <ion-icon name="paper-plane-outline"></ion-icon>
              </ion-button> 
            </ion-col>
            <ion-col offset="4" size="2">
              <ion-button fill="clear">
                <ion-icon name="bookmark-outline"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
        <p>Lorem ipsum dolor sit amet, 
          consectetur adipiscing elit. Sed ligula est,
           luctus ac facilisis ut, malesuada et diam.</p>
      </ion-card-content>      
    </ion-card>
<!-- LA MISMA CARD PERO REPETIDA 2 VECES -->
    <ion-card>
      <ion-card-title>
        <ion-grid>
          <ion-row class="ion-align-items-center">
            <ion-col size="2">
              <!-- Imagen de perfil de prueba -->
              <img class="imgPerfil" src="https://th.bing.com/th/id/OIP.OesLvyzDO6AvU_hYUAT4IAHaHa?rs=1&pid=ImgDetMain" alt="">
            </ion-col>
            <ion-col size="8">*User</ion-col>
            <ion-col size="2">
              <ion-button fill="clear">
                <ion-icon name="ellipsis-horizontal"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
        
      </ion-card-title>
      <ion-card-content>
        <!-- Imagen de prueba -->
        <img src="https://th.bing.com/th/id/OIP.1756oB0Q3DwO-qQo8UvB8gHaE6?rs=1&pid=ImgDetMain" alt="">
        <ion-grid >
          <ion-row>
            <ion-col size="2">
              <ion-button fill="clear">
                <ion-icon name="heart-outline"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size="2">
              <ion-button fill="clear">
                <ion-icon name="chatbubble-outline"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size=2>
              <ion-button fill="clear">
                <ion-icon name="paper-plane-outline"></ion-icon>
              </ion-button> 
            </ion-col>
            <ion-col offset="4" size="2">
              <ion-button fill="clear">
                <ion-icon name="bookmark-outline"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
        <p>Lorem ipsum dolor sit amet, 
          consectetur adipiscing elit. Sed ligula est,
           luctus ac facilisis ut, malesuada et diam.</p>
      </ion-card-content>      
    </ion-card>

    <ion-card>
      <ion-card-title>
        <ion-grid>
          <ion-row class="ion-align-items-center">
            <ion-col size="2">
              <!-- Imagen de perfil de prueba -->
              <img class="imgPerfil" src="https://th.bing.com/th/id/OIP.OesLvyzDO6AvU_hYUAT4IAHaHa?rs=1&pid=ImgDetMain" alt="">
            </ion-col>
            <ion-col size="8">*User</ion-col>
            <ion-col size="2">
              <ion-button fill="clear">
                <ion-icon name="ellipsis-horizontal"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
        
      </ion-card-title>
      <ion-card-content>
        <!-- Imagen de prueba -->
        <img src="https://th.bing.com/th/id/OIP.1756oB0Q3DwO-qQo8UvB8gHaE6?rs=1&pid=ImgDetMain" alt="">
        <ion-grid >
          <ion-row>
            <ion-col size="2">
              <ion-button fill="clear">
                <ion-icon name="heart-outline"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size="2">
              <ion-button fill="clear">
                <ion-icon name="chatbubble-outline"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size=2>
              <ion-button fill="clear">
                <ion-icon name="paper-plane-outline"></ion-icon>
              </ion-button> 
            </ion-col>
            <ion-col offset="4" size="2">
              <ion-button fill="clear">
                <ion-icon name="bookmark-outline"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
        <p>Lorem ipsum dolor sit amet, 
          consectetur adipiscing elit. Sed ligula est,
           luctus ac facilisis ut, malesuada et diam.</p>
      </ion-card-content>      
    </ion-card>
  </div>
</ion-content>