
<!-- Prueba -->
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let photo of photoService.photos; index as position">
        <ion-img [src]="photo.webviewPath"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
<!-- Esto de arriba va en el perfil -->

  <ion-tabs>

    <ion-tab-bar slot="bottom">

      <ion-tab-button  tab="inicio" >
        <ion-icon name="Home"></ion-icon>  
      </ion-tab-button>

      <ion-tab-button (click)="addPhotoToGallery()" tab="camara">
        <ion-icon name="camera"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="perfil">
        <ion-icon name="person"></ion-icon>
      </ion-tab-button>

    </ion-tab-bar>

  </ion-tabs>
</ion-content>